<% @books.each do |book| %>
  <div>
    <%= image_tag post_image.get_image %>
    <%= image_tag 'sample-author1.jpg' %>
      <p>：<%= post_image.user.name %></p>
    <p>Title：<%= book.user_name %></p>
    <p>Opinion：<%= book.caption %></p>
  
  </div>
<% end %>