<% @books.each do |book| %>
  <div>
    <% if list.image.attached? %>
      <%= image_tag list.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
    <p>name：<%= post_image.user.name %></p>
    <p>Title：<%= book.user_name %></p>
    <p>Opinion：<%= book.caption %></p>
  
  </div>
<% end %>