<%= render 'books/book', user: @user, book: @book %>

<% @books.each do |book| %>
  <div>
     <%= image_tag @user.get_profile_image(100,100) %>
    <p>name：<%= post_image.user.name %></p>
    <p>Title：<%= book.user_name %></p>
    <p>Opinion：<%= book.caption %></p>
  
  </div>
<% end %>