<% if flash[:notice] %>
  <div class="flash-message">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= render 'books/book', user: @user, book: @book %>

<!-- ユーザーの投稿一覧 -->

<h4>Books</h4>
<% @books.each do |book| %>
<div>
 
  <%= link_to books_path(book.id) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
  <% end %>
  
  <p>name：<%= @user.name %></p>
  <p>introduction：<%= @user.introduction %></p>
</div>
<% end %>