<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  
<td>
 <p><%= f.submit 'Update Book' %></p>
</td>
<td>
  <%= link_to "Show", books_path(@book.id) %>
</td>
<td>
  <%= link_to "Back", books_path %>
</td>
  
  
<% end %>