<h2>Book detail</h2>
<% if @book.image.attached? %>
   <%= image_tag @book.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>

<p><%= @book.title %></p>


<p><%= @book.body %></p>



<%= link_to "edit", edit_list_path(@list.id) %>
<%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>