<%= render 'books', user: @user, book: @book %>


<h2>Books detail</h2>

   
   
   <%= image_tag @book.user.get_profile_image(100,100) %>
  

<p><%= @book.title %></p>


<p><%= @book.body %></p>



<%= link_to "edit", edit_book_path(@book.id) %>
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>